.exe{
	color: orange;
	background-color: skyblue;
	font-size: 70px;
	border: 2px dashed darkblue;
}
#ini{
		color: lightgreen;
		background-color: beige;
		font-size: 60px;		
		border: 2px dashed green;
}
.cls{
	color: green;
}
#ids{
	background-color: indianred;
}